*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f7f7f9;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 25px 80px;
}

.logo{
    color: #7b3cff;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    color: #555;
    cursor: pointer;
}
.menu a {
  text-decoration: none;
  color: #555;
}

.nav-btn{
    background: #7b3cff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}
.hero{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    padding: 60px 80px;
}
.hero-text{
    width: 50%;
}
.hero-text h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.hero-text h1 span{
    color: #7b3cff;
}
.hero-text h2{
    font-size: 22px;
    color: #444;
    margin-bottom: 15px;
}
.hero-text p{
    color: #666;
    margin-bottom: 25px;
    line-height: 1.6;
    font-size: 25px;
}
.buttons{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.primary{
    background: #7b3cff;
    color: white;
    border: none;
    padding: 12px 22px;
    cursor: pointer;
}
.secondary{
    background: transparent;
    border: 2px solid #7b3cff;
    color: #7b3cff;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}
.social{
    display: flex;
    gap: 15px;
}

.icon{
    width: 35px;
    height: 35px;
    background: #7b3cff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}

.hero-img img{
    width: 420px;
    border-radius: 20px;

}
